/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.todo-list-true, .todo-pane .panel-body ul li:hover {
  background-color: #f5f5f5;
}

.highlight {
  padding: 0px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

.drag-container {
  display:block; 
  position:absolute;
}

.drag-tooltip {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  padding: 30px;
  text-align: center;
  position: relative;
  cursor: pointer;
  z-index: 5000;
}

.drag-tooltip h3 {
  margin-top: 0px;
}

.drag-tooltip .badge {
  margin-bottom: 10px;
}

.drag-tooltip h3 .label {
  margin-bottom: 5px;
}

.todo-pane .panel-footer .btn {
  width: 163px;
}

.todo-pane .panel-footer .form-control {
  width: 500px;
}

.todo-pane > h4 > .btn {
  margin-top: -7px;
}

.todo-pane .panel-body ul li {
  cursor: pointer;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.line-numbers .line-numbers-rows {
  left: -5em;
}